@import url("bootstrap.css");
#first {
  background-image: url(../images/heading.jpg);
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}
.third {
  background-image: url(../images/centre.jpg);
  color: white;
}
.text-center {
  font-size: 15px;
}
.contact {
  background: url(../images/footer.jpg);
  height: 50vh;
  margin-top: 50px;
  margin-bottom: 10px;
}

#contact-form {
  background: url(../images/footer.jpg);
  padding-top: 5vh;
}

textarea {
  opacity: 0.8;
  margin-top: 5vh;
  height: 40vh;
  width: 40%;
}

button {
  margin-bottom: 2vh;
}

#portfolio {
  margin-bottom: 20px;
}

#texta {
  margin: 0 auto;
}
#mail-name {
  opacity: 0.8;
}
#name {
  margin-right: 50px;
  width: 20%;
}
#mail {
  margin-left: 50px;
  width: 30%;
}
#images {
  margin-top: 10px;
  margin-bottom: 10px;
}
#logo_h {
  padding-top: 30vh;
}

#mouse {
  padding-top: 10vh;
}
h1,
h6 {
  padding-top: 5vh;
}
/* 
?#manage {
  display: none;
}
#design {
  display: none;
}
#develop {
  display: none;
} */
